{% extends "base.html" %}

{% block content %}
    <p><h3>Käyttäjätiedot</h3></p>
    
    <div class="form-group">
        <p><h3>Käyttäjätunnus</h3></p>
        <p>{{kayttaja.username}}</p>
    </div>
     <div>
        <p><h3>Nimi</h3></p>
        <p>{{kayttaja.firstname}} {{kayttaja.lastname}}</p>
    </div>
    <div>    
        <p><h3>Sähköposti</h3></p>
        <p>{{kayttaja.email}}</p>
    </div>                      
    
    <div>
        <a href="{{base_path}}/kayttaja/{{kayttaja.userid}}/tilaukset"><p>Tilaukset</p></a>
    </div>

              
{% endblock %}
