{% extends "base1.html" %}

{% block content %}
    <h1>Kirjaudu sisään</h1>
    
    <form method="POST" action="{{base1_path}}/kukkia/kirjaudu">
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input class="form-control" name="username" value="{{usename}}" type="text">
        </div>
        <div class="form-group">
            <label>Salasana</label>
            <input class="form-control" name="password" value="{{password}}" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
{% endblock %}