{% extends "base.html" %}

{% block content %}
<h3>Tilaus</h3>

<div>
    <label>Tuotetiedot</label>
    <p>{{tuote.fname}}</p>
</div>
<div>
    <label>Tilauksen hinta</label>
    <p>{{tuote.price}}</p>
</div>
<form method="post" action="{{base_path}}/tuotteet/{{tuote.id}}/tilaa" >
    <div class="form-group">
        <label>Toimitusosoite</label>
        <input type="text" name="arrivaladdress"/>
    </div>
    <div class="form-group">
        <label>Laskutusosoite</label>
        <input type="text" name="billingaddress"/>
    </div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Tilaa</button>
</div>
</form>
                
{% endblock %}
