{% extends "base.html" %}

{% block content %}
<p><h3>Tilauksen tiedot</h3></p>
    
    <div>
        <p><b><h4>Tilattu tuote</h4></b></p>
        <a href="{{base_path}}/tuote/{{tilaus.product_id}}">Tuote</a>
    </div>
    <div>    
        <p><b><h4>Hinta</h4></b></p>
        <p>{{tilaus.price}}</p>
    </div> 
     <div>
        <p><b><h4>Tilauspäivä</h4></b></p>
        <p>{{tilaus.orderday}}</p>
    </div>
    <div>    
        <p><b><h4>Toimitusosoite</h4></b></p>
        <p>{{tilaus.arrivaladdress}}</p>
    </div>                      
    <div>    
        <p><b><h4>Laskutusosoite</h4></b></p>
        <p>{{tilaus.billingaddress}}</p>
    </div>
    <div>    
        <p><b><h4>Tilaaja</h4></b></p>
        <p>{{tilaus.orderer}}</p>
    </div>
<div>
    <form method="post" action="{{base_path}}/tilaus/{{tilaus.orderid}}/remove" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Peru tilaus</button>
    </form>
</div>
                
{% endblock %}

