{% extends "base.html" %}

{% block content %}
     <form method="post" action="{{base_path}}/tuote/{{tuote.id}}/edit">
        <div class="form-group">
            <label>Nimi</label>
            <p>Nykyinen nimi: <b>{{tuote.fname}}</b></p>
            <input type="text" name="fname" />
        </div>
        
        <div class="form-group">
            <label>Hinta</label>
            <p>Nykyinen hinta: <b>{{tuote.price}}</b></p>
            <input type="text" name="price" />
        </div>
        
        <div class="form-group">
            <label>Alennus</label>
            <p>Nykyinen alennus: <b>{{tuote.sale}}</b></p>
            <input type="text" name="sale" />
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <p>Nykyinen kuvaus: <b>{{tuote.description}}</b></p>
            <input type="text" name="description" />
        </div>  
    </form>
        <div>
             <label>Tuotetta voi tilata</label>
             <input type="radio" name="orderit" value="YES" >Kyllä
             <input type="radio" name="orderit" value="NO" checked> Ei
        </div>
        <div>
             <label>Tuotetta voi varata myymälästä</label>
             <input type="radio" name="reserve" value="YES" >Kyllä
             <input type="radio" name="reserve" value="NO" checked> Ei
         </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
{% endblock %}
