{% extends "base1.html" %}

{% block content %}
     <form method="post" action="{{base1_path}}/kukkia/tuote/{{tuote.id}}/edit">
        <div class="form-group">
            <label>Nimi</label>
            <p>{{tuote.fname}}</p>
            <input type="text" name="fname" />
        </div>
        
        <div class="form-group">
            <label>Hinta</label>
            <p>{{price}}</p>
            <input type="text" name="price" />
        </div>
        
        <div class="form-group">
            <label>Alennus</label>
            <p>{{tuote.sale}}</p>
            <input type="text" name="sale" />
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <p>{{tuote.description}}</p>
            <input type="text" name="description" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </form>
<div><p>{{tuote.fname}}</p></div>
<p>Testi</p>
    
{% endblock %}
