{% extends "base.html" %}

{% block content %}
    <h2>Kimput</h2>
            <table style="width:100vh">
                
                 
                {% for tuote in tuotteet %}
                {% if tuote.groupid == 2 %}       
                <tr>
                    <td>
                        <a href="{{base_path}}/tuote/{{tuote.tid}}">{{tuote.fname}}</a>
                        <p>{{tuote.price}}</p>  
                    </td>
                </tr>
                {% endif %}
                {% endfor %}           
              </table>
    
{% endblock %}
