{% extends "base.html" %}
{% block content %}

    <h1>Lisää uusi tuote</h1>
    
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
     <form method="post" action="{{base_path}}/tuote">
        <div class="form-group">
            <label>Nimi</label>
            <input name="fname" class="form-control" type="text"/>
        </div>
        
        <div class="form-group">
            <label>Hinta</label>
            <input type="text" name="price" class="form-control"/>
        </div>
        
        <div class="form-group">
            <label>Alennus</label>
            <input type="text" name="sale" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <input type="text" name="description" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Tuoteryhmä</label>
            <select class="form-control" name="groupid">
                {% for tuoteryhma in tuoteryhmat %}
                <option value="{{tuoteryhma.id}}">{{tuoteryhma.fname}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
             <label>Tuotetta voi tilata</label>
             <input type="radio" name="orderit" value="true" >Kyllä
             <input type="radio" name="orderit" value="false" checked> Ei
        </div>
        <div>
             <label>Tuotetta voi varata myymälästä</label>
             <input type="radio" name="reserve" value="true" >Kyllä
             <input type="radio" name="reserve" value="false" checked> Ei
         </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>  
    </form>
    
     
{% endblock %}
