{% extends "base.html" %}

{% block content %}
    <p><h3>Nimi</h3></p>

    <p>{{tuote.fname}}</p>
    
    <div class="form-group">
        <p><h3>Hinta</h3></p>
    {% if tuote.sale > 0 %}
        <b>
        <script>
            var x = {{tuote.price}};
            var y = {{tuote.sale}};
            
            function laske(x, y){
                //var tulos = parseFloat(Math.round(num3 * 100) / 100).toFixed(2);
                var tulos = x * (1 - y/100);
                //tulos.toFixed(2);
                document.writeln(tulos.toFixed(2) + "€");
                
            }
            laske(x, y);
        </script>
        </b><p>(normaali hinta {{tuote.price}}€)</p>
    </div>
    
     <div id="alennus">
        <p><h3>Alennus -{{tuote.sale}} %</h3></p>
    </div>
    {% else %}
    <p>{{tuote.price}}</p>
    {% endif %}
    <div>    
        <p><h3>Kuvaus</h3></p>
        <p>{{tuote.description}}</p>
    </div>
    <div>
        <p><h2>Tuoteryhmä</h2></p>
        <p></p>
    </div>
    {% if user_logged_in %}
    <div>
        {% if tuote.orderit %}
         <a href="{{base_path}}/tuotteet/{{tuote.id}}/tilaa" class="btn btn-success">Tilaa tuote</a>
        {% else %}
        <button class="btn btn-danger disabled">Tilaa tuote</button>
        {% endif %}
        {% if tuote.reserve %}
        <button type="submit" class="btn btn-primary active">Varaa tuote</button>
        {% else %}
        <button class="btn btn-danger disabled">Varaa tuote</button>
        {% endif %}
    </div>  
    <div>
        <a href="{{base_path}}/tuote/{{tuote.id}}/edit"><p>Muokkaa</p></a>
    </div>
    <div>
        <form method="post" action="{{base_path}}/tuote/{{tuote.id}}/remove" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
        </form>
    </div>
    {% endif %}
           
{% endblock %}
