{% extends "base.html" %}

{% block content %}
    <h2>Tuotelista</h2>
            <table style="width:100vh">
                {% for tuote in tuotteet %}
                <tr>
                    <td>
                        <a href="{{base_path}}/tuote/{{tuote.id}}">{{tuote.fname}}</a>
                        <p>{{tuote.price}}</p>
                        {% if tuote.sale > 0 %}
                        <div id="alennus">
                            <p>Alennuksessa -{{tuote.sale}}%!</p>
                            <script type="text/javacript" src="site.js"></script>
                            <script>
                                var numero = laskenta();
                                document.writeln(numero);
                            </script>
                            
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}           
              </table>
    
{% endblock %}
