{% extends "base.html" %}

{% block content %}
    <h2>Tuotelista</h2>
    {% if user_logged_in %}
    <p><a href="{{base_path}}/tuote/uusi">Lisää tuote</a></p>
    {% endif %}
            <table style="width:100vh">
                
                 
                {% for tuote in tuotteet %}

                <tr>
                    <td>
                        <a href="{{base_path}}/tuote/{{tuote.id}}">{{tuote.fname}}</a>
                        <p>{{tuote.price}}</p>
                        <a class="btn btn-default" href="{{base_path}}/tuote/{{tuote.id}}/edit">Muokkaa</a>
                        <a href="{{base_path}}/tuote/{{tuote.id}}/edit"><p>Muokkaa ei toimi</p></a>
                    </td>
                </tr>
                
                {% endfor %}           
              </table>
    
{% endblock %}
