{% extends "base1.html" %}

{% block content %}
    <h2>Tuotelista</h2>
    <p><a href="{{base1_path}}/kukkia/tuote/uusi">Lisää tuote</a></p>
            <table style="width:100vh">
                
                 
                {% for tuote in tuotteet %}

                <tr>
                    <td>
                        <a href="{{base1_path}}/kukkia/tuote/{{tuote.id}}">{{tuote.fname}}</a>
                        <p>{{tuote.price}}</p>  
                    </td>
                </tr>
                
                {% endfor %}           
              </table>
    
{% endblock %}
