{% extends "base.html" %}

{% block content %}
    <h2>Tilauslista</h2>
    {% if user_logged_in %}
    {% endif %}
            <table style="width:100vh">
                
                 
                {% for tuoteryhma in tuoteryhmat %}

                <tr>
                    <td>
                        <p>numero = {{tuoteryhma.id}}</p>
                        <p>nimi = {{tuoteryhma.fname}}</p>
                        <p>kuvaus = {{tuoteryhma.description}}</p>
                    </td>
                </tr>
                
                {% endfor %}           
              </table>
    
{% endblock %}
